 .weather-container {
    border-width: 1px;
    border-color: black;
    padding: 1px;

 }
.weather-container p {
    font-size: 40px;
    text-align:center;
}
form .weather-container  {
    font-size: 25px;
    text-align:center;
    padding: 1px;
}

form .weather-container input  {
    color: #1b1b1b;
    font-size: 40px;
    text-align:center;
}


 .measure-temperature {
    color: #eeeeee;
    background-color: #e35f5f;
    padding-bottom: 15px;
 }


 .measure-humidity {
    color: #eeeeee;
    background-color: #264b5d;
    padding-bottom: 15px;
 }

 .measure-button-add {
    margin-top: 10px;
    width: 100%;
 }
 .measure-button-cancel {
    margin-top: 10px;
    background-color: #e0e0e0;
    width: 100%;
 }

.dashboard-container {
    border-width: 1px;
    border-color: black;
    padding: 1px;
    border-radius: 25px;
}

.dashboard-container .total {
    background-color: darkslateblue;
}
.dashboard-container .machos {
    background-color: #6f94c6;
}
.dashboard-container .hembras {
    background-color: lightpink;
}
.dashboard-container .cordero {
    background-color: #ddffdd;
}

.dashboard-container p {
    font-size: 40px;
    text-align:center;
}

.nav-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
    color: black;
}

.sheep-weight {
    font-weight: bold;
    font-size: 25px;  
}

.fa-mars{
    font-weight: bold;
    font-size: 25px;
    color:  #3399FF;
}

.fa-venus{
    font-weight: bold;
    font-size: 25px;
    color:  #fc75f0;
}

.card-img-top {
    border-radius: 12px;

}

.card-buttons {
}

.blue-dark{
    background-color: #002060;
}

.brown {
    background-color: #833C0C;
}

.fucsia {
    background-color: #FF0066;
}

.green {
    background-color: #00B050;
}

.light-green {
    background-color: #92D050;
}

.light-yellow {
    background-color: #F8CBAD;
}

.lila {
    background-color: #9933FF;
}

.orange {
    background-color: #FF3300;
}

.sky-blue {
    background-color: #3399FF;
}

.violet {
    background-color: #4C004C;
}

.yellow{
    background-color: #FFC000;
}

