{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
            UCC | Granja Ovina Mi Carreta
        {% endblock %}
    </title>
</head>


<body>

    {% block nav_base %}
        {% include 'nav_base.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

        {% block script %}
        {% endblock %}

        <script>

      $('#btnSearch').on('click', function (evt) {
          evt.preventDefault();
          var searchInput = $('#search').val();
          var url_base = "{% url 'app:feed' %}"
          var url = url_base + '?search=' + searchInput ;

          var genero_machos = $('#genero_machos').is(":checked")
          var genero_hembras = $('#genero_hembras').is(":checked")
          var raza_puro = $('#raza_puro').is(":checked")
          var raza_comercial = $('#raza_comercial').is(":checked")
          var range_w_min = $('#range_w_min').val()
          var range_w_max = $('#range_w_max').val()
          var range_a_min = $('#range_a_min').val()
          var range_a_max = $('#range_a_max').val()
          var status_active = $('#status_active').is(":checked")
          var status_incative = $('#status_incative').is(":checked")

          if ((genero_machos || genero_hembras) && !(genero_machos && genero_hembras) ) {
              var gender = genero_machos? 'M' : 'H';
              url = url + '&gender=' + gender ;
          }

          if ((raza_puro || raza_comercial) && !(raza_puro && raza_comercial) ) {
              var breeds = raza_puro? 'puro' : 'comercial';
              url = url + '&breeds=' + breeds ;
          }

          if ((status_active || status_incative) && !(status_active && status_incative) ) {
              var active = status_active? 'true' : 'false';
              url = url + '&active=' + active ;
          }

          if (range_w_min) {
              url = url + '&weight_range_min=' + range_w_min ;
          }

          if (range_w_max) {
              url = url + '&weight_range_max=' + range_w_max ;
          }

          if (range_a_min) {
              url = url + '&age_range_min=' + range_a_min ;
          }

          if (range_a_max) {
              url = url + '&age_range_max=' + range_a_max ;
          }

          window.location.replace(url);

      });
          </script>
</body>

</html>