{% extends "base.html" %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 dashboard-container ">

        <a href="{% url 'app:feed' %}?active=true">
            <div class="col-xs-12 dashboard-container total">
                <div class="card text-white bg-gradient-total">
                <h4>
                        Total Animales:
                </h4>
                <h5>
                                    Puros (P) + Comerciales (C)
                </h5>
                <p>
                    {% if  total  %}
                        {{ total }}
                    {% else %}
                        0
                    {% endif %}
                </p>
                </div>
            </div>
        </a>

        <a href="{% url 'app:feed' %}?gender=M&breeds=puro&active=true">

            <div class="col-sm-6 col-xs-6 dashboard-container machos">
                <div class="card text-white bg-gradient-machos">

                    <h4>
                        Machos (P): <br>
                    </h4>
                    <p>
                        {% if  num_machos_p  %}
                            {{ num_machos_p }}
                        {% else %}
                            0
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
        <a href="{% url 'app:feed' %}?gender=H&breeds=puro&active=true">
            <div class="col-sm-6 col-xs-6 dashboard-container hembras">
                <div class="card text-white bg-gradient-hembras">

                    <h4>
                        Hembras (P): <br>
                    </h4>
                    <p>
                        {% if  num_hembras_p  %}
                            {{ num_hembras_p }}
                        {% else %}
                            0
                        {% endif %}
                    </p>

                </div>
            </div>
        </a>

        <a href="{% url 'app:feed' %}?gender=M&breeds=comercial&active=true">
            <div class="col-sm-6 col-xs-6 dashboard-container machos">
            <div class="card text-white bg-gradient-machos">

                <h4>
                    Machos (C): <br>
                </h4>
                <p>
                    {% if  num_machos_c  %}
                        {{ num_machos_c }}
                    {% else %}
                        0
                    {% endif %}
                </p>

            </div>
        </div>
        </a>
        <a href="{% url 'app:feed' %}?gender=H&breeds=comercial&active=true">
        <div class="col-sm-6 col-xs-6 dashboard-container  hembras">
            <div class="card text-white bg-gradient-hembras">

                <h4>
                    Hembras (C): <br>
                </h4>
                <p>
                    {% if  num_hembras_c  %}
                        {{ num_hembras_c }}
                    {% else %}
                        0
                    {% endif %}
                </p>

            </div>
        </div>
    </a>

        <div class="edades">

            <a href="{% url 'app:feed' %}?type=oveja&active=true">
                <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                    <div class="card text-white bg-gradient-corderos">

                        <h4>
                            Ovejas:
                            {% if num_ovejas  %}
                                {{ num_ovejas }}
                            {% else %}
                                0
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </a>
            <a href="{% url 'app:feed' %}?type=borrego&active=true">
                <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                    <div class="card text-white bg-gradient-corderos">
                        <h4>
                            Borregos:
                            {% if num_borregos %}
                                {{ num_borregos }}
                            {% else %}
                                0
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </a>
            <a href="{% url 'app:feed' %}?type=cordero&active=true">
                <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                    <div class="card text-white bg-gradient-corderos">

                        <h4>
                            Corderos:
                            {% if num_corderos %}
                                {{ num_corderos }}
                            {% else %}
                                0
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </a>
            <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                <a href="{% url 'app:feed' %}?type=oveja&breeds=puro&gender=M&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_masculino.png' %}">
                                Ovejas (M)(P): <br>
                            </h4>
                            <p>
                                {% if  num_ovejas_m_p  %}
                                    {{ num_ovejas_m_p }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'app:feed' %}?type=oveja&breeds=puro&gender=H&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_femenino.png' %}">
                                Ovejas (H)(P): <br>
                            </h4>
                            <p>
                                {% if  num_ovejas_h_p  %}
                                    {{ num_ovejas_h_p }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                <a href="{% url 'app:feed' %}?type=borrego&breeds=puro&gender=M&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_masculino.png' %}">
                                Borregos (M)(P): <br>
                            </h4>
                            <p>
                                {% if  num_borregos_m_p  %}
                                    {{ num_borregos_m_p }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'app:feed' %}?type=borrego&breeds=puro&gender=H&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_femenino.png' %}">

                                Borregos (H)(P): <br>
                            </h4>
                            <p>
                                {% if  num_borregos_h_p  %}
                                    {{ num_borregos_h_p }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                <a href="{% url 'app:feed' %}?type=cordero&breeds=puro&gender=M&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_masculino.png' %}">
                                Corderos (M)(P): <br>
                            </h4>
                            <p>
                                {% if  num_corderos_m_p  %}
                                    {{ num_corderos_m_p }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'app:feed' %}?type=cordero&breeds=puro&gender=H&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_femenino.png' %}">

                                Corderos (H)(P): <br>
                            </h4>
                            <p>
                                {% if  num_corderos_h_p  %}
                                    {{ num_corderos_h_p }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                <a href="{% url 'app:feed' %}?type=oveja&breeds=comercial&gender=M&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_masculino.png' %}">
                                Ovejas (M)(C): <br>
                            </h4>
                            <p>
                                {% if  num_ovejas_m_c  %}
                                    {{ num_ovejas_m_c }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'app:feed' %}?type=oveja&breeds=comercial&gender=H&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_femenino.png' %}">

                                Ovejas (H)(C): <br>
                            </h4>
                            <p>
                                {% if  num_ovejas_h_c  %}
                                    {{ num_ovejas_h_c }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                <a href="{% url 'app:feed' %}?type=borrego&breeds=comercial&gender=M&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_masculino.png' %}">
                                Borregos (M)(C): <br>
                            </h4>
                            <p>
                                {% if  num_borregos_m_c  %}
                                    {{ num_borregos_m_c }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'app:feed' %}?type=borrego&breeds=comercial&gender=H&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_femenino.png' %}">

                                Borregos (H)(C): <br>
                            </h4>
                            <p>
                                {% if  num_borregos_h_c  %}
                                    {{ num_borregos_h_c }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 col-xs-4 dashboard-container cordero">
                <a href="{% url 'app:feed' %}?type=cordero&breeds=comercial&gender=M&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_masculino.png' %}">
                                Corderos (M)(C): <br>
                            </h4>
                            <p>
                                {% if  num_corderos_m_c  %}
                                    {{ num_corderos_m_c }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'app:feed' %}?type=cordero&breeds=comercial&gender=H&active=true">
                    <div class="col-sm-6 col-xs-6 dashboard-container cordero">
                        <div class="card text-white bg-gradient-corderos">

                            <h4>
                                <img class= "icon_card" src="{% static 'img/genero_femenino.png' %}">

                                Corderos (H)(C): <br>
                            </h4>
                            <p>
                                {% if  num_corderos_h_c  %}
                                    {{ num_corderos_h_c }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <a href="{% url 'app:feed' %}?active=true">
            <div class="col-xs-12 dashboard-container total">
                <div class="card text-white bg-gradient-total">
                    <h4>
                        Grupos
                    </h4>
                </div>
            </div>
        </a>

        <div>
            {% for group in groups %}
                <a href="{% url 'app:feed' %}?group={{ group.slug }}">
                    <div class="col-sm-4 col-xs-4 dashboard-container grupos">
                        <div class="card text-white bg-gradient-grupos">

                            <h4>
                                {{ group.name }}: <br>
                            </h4>
                            <p>
                                {% if  group.count  %}
                                    {{ group.count }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>

                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>

    </div>
  </div>
</div>

{% endblock %}

