<div class="col-sm-12 col-md-3 offset-md-2 mt-5 p-0 post-container">


    <p class="mt-1 ml-2" >
        <a href="" style="color: #000; font-size: 20px;">
            <i class="far fa-heart"></i>
        </a> 30% Super Oveja
    </p>
    <p class="ml-2 mt-0 mb-2">
        <b> {{ sheep.full_name }}</b> - <small>{{ sheep.birthday }}</small>
    </p>
    <p class="ml-2 mt-0 mb-2">
        <b> {{ sheep.age }}</b> - <small>{{ sheep.breeds }}</small>
    </p>
    <p class="ml-2 mt-0 mb-2">
        <b> {{ sheep.prncipal_photo }}</b> - <small>{{ sheep.prncipal_photo }}</small>
    </p>

    <img style="width: 100%;" src="{{ sheep.prncipal_photo.upload.url }}" alt="{{ sheep.prncipal_photo.create_at }}">

</div>
