{% extends "base.html" %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block script %}
	<script src='https://cdn.plot.ly/plotly-2.1.0.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'> </script>

    <script>

        var aprisco_dates = [
            {% for weight in sheep.historyweight_set.all %}
              "{{ weight.create_at|date:'Y-m-d' }}",
            {% endfor %}
          ]

        var aprisco_data = [
            {% for weight in sheep.historyweight_set.all %}
              '{{ weight.weight }}',
            {% endfor %}
        ]

        var trace1 = {
          type: "scatter",
          mode: "lines",
          name: 'Peso',
          x: aprisco_dates,
          y: aprisco_data,
          line: {color: '#17BECF'}
        }


        var hdata = [trace1];

        var hlayout = {
          title: 'Historico Pesos',
        };

        Plotly.newPlot('HistoricoPesos', data=hdata, layout=hlayout);

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>
{% endblock %}


{% block content %}
    <a class="btn btn-primary" href="{% url 'app:add-weigh'  sheep.id %}">
    add peso
    </a>

<div class="col-sm-12 col-md-12">
    <p class="ml-2 mt-0 mb-2">
        <b>Nombre:  {{ sheep.full_name }}</b> - <small> Fecha de nacimiento: {{ sheep.birthday |date:"Y-m-d" }}</small>
    </p>
    <p class="ml-2 mt-0 mb-2">
        <b> Edad: {{ sheep.age }}</b> - {% if  sheep.breed %} <small> Raza: {{ sheep.breed_name }}</small> - {% endif %}
        <b> Ultimo peso: {{ sheep.last_weight }} [kg]</b>
    </p>

<!-- Container for the image gallery -->
<div class="row ">

    <div class="col-sm-12 col-md-7 offset-md-0">
            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Full-width images with number text -->
            {% if sheep.prncipal_photo %}

                {% for sheep_photo in sheep.sheepphoto_set.all %}
                    <div class="mySlides">
                    <div class="numbertext">{{ forloop.counter }} / {{ sheep.sheepphoto_set.all | length }}</div>
                        <img src="{{ sheep_photo.upload.url }}" style="width:100%">
                    </div>
                {% endfor %}

            {% else %}
                <div class="mySlides">
                <div class="numbertext">1 / 1</div>
                    <img src="{% static 'img/sheep_default.jpeg' %}" style="width:100%">
                </div>
            {% endif %}
            <!-- Next and previous buttons -->
            <a class="slide-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="slide-next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="col-sm-12 col-md-4">
        <!-- Thumbnail images -->
        {% if sheep.prncipal_photo %}
            {% for sheep_photo in sheep.sheepphoto_set.all %}
                <div class="column offset-md-1">
                    <img class="demo cursor" src="{{ sheep_photo.upload.url }}" style="width:100%" onclick="currentSlide({{ forloop.counter }})" alt="foto hace: {{sheep_photo.take_ago}}">
                </div>
            {% endfor %}

        {% else %}
            <div class="row">
                <div class="column offset-md-0">
                    <img class="demo cursor" src="{% static 'img/sheep_default.jpeg' %}"style="width:100%" onclick="currentSlide(1)" alt="default sheep">
                </div>
            </div>
        {% endif %}
    </div>
</div>

</div>

<div class="col-sm-12">

    <div id='HistoricoPesos'> </div>

</div>

<div class="col-sm-12">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Peso [kg]</th>
    </tr>
  </thead>
  <tbody>
      {% for weight in sheep.historyweight_set.all %}
        <tr>
          <th scope="row">    {{ forloop.counter }} </th>
          <td>{{ weight.create_at }}</td>
          <td>{{ weight.weight }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>

    <p>Tomado hace: {{ sheep }}</p>

</div>

<div class="col-sm-12 col-md-12">
    <h1> FAMILY:</h1>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <b> Padre: </b> <br>
            {% if sheep.parentDadId %}
                {% with sheep=sheep.parentDadId %}
                    {% include "sheep_card.html" %}
                {% endwith %}
            {% else %}
                N/A
            {% endif%}
        </div>
        {% if sheep.parentDadId and sheep.parentDadId.parentDadId %}
        <div class="col-sm-12 col-md-12">
            <b> Abuelo Paterno: </b> <br>
                {% with sheep=sheep.parentDadId.parentDadId %}
                    {% include "sheep_card.html" %}
                {% endwith %}
        </div>
        {% endif%}

        {% if sheep.parentDadId and sheep.parentDadId.parentMomId %}
        <div class="col-sm-12 col-md-12">
            <b> Abuea Paterna: </b> <br>
                {% with sheep=sheep.parentDadId.parentMomId %}
                    {% include "sheep_card.html" %}
                {% endwith %}
        </div>
        {% endif%}

        <div class="col-sm-12 col-md-12">

            <b> Madre: </b> <br>

            {% if sheep.parentMomId %}
                {% with sheep=sheep.parentMomId %}
                    {% include "sheep_card.html" %}
                {% endwith %}
            {% else %}
                N/A
            {% endif%}
        </div>
        {% if sheep.parentDadId and sheep.parentDadId.parentDadId %}
        <div class="col-sm-12 col-md-12">
            <b> Abuelo Materno: </b> <br>
                {% with sheep=sheep.parentDadId.parentDadId %}
                    {% include "sheep_card.html" %}
                {% endwith %}
        </div>
        {% endif%}

        {% if sheep.parentDadId and sheep.parentDadId.parentMomId %}
        <div class="col-sm-12 col-md-12">
            <b> Abuea Materna: </b> <br>
                {% with sheep=sheep.parentDadId.parentMomId %}
                    {% include "sheep_card.html" %}
                {% endwith %}
        </div>
        {% endif%}

        <div class="col-sm-12 col-md-12">

        <h5> HIJOS: </h5>
        <br>
         {% for sheep in sheep.children %}
             {% include "sheep_card.html" %}
         {% endfor %}

        </div>

    </div>
</div>
    {% endblock %}

