{% extends "base.html" %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block script %}
	<script src='https://cdn.plot.ly/plotly-2.1.0.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'> </script>

    <script>

        var aprisco_dates = [
            {% for weight in sheep.historyweight_set.all %}
              "{{ weight.create_at|date:'Y-m-d' }}",
            {% endfor %}
          ]

        var aprisco_data = [
            {% for weight in sheep.historyweight_set.all %}
              '{{ weight.weight }}',
            {% endfor %}
        ]

        var trace1 = {
          type: "scatter",
          mode: "lines",
          name: 'Peso',
          x: aprisco_dates,
          y: aprisco_data,
          line: {color: '#17BECF'}
        }


        var hdata = [trace1];

        var hlayout = {
          title: 'Historico Pesos',
        };

        Plotly.newPlot('HistoricoPesos', data=hdata, layout=hlayout);

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>
{% endblock %}


{% block content %}
        <h1> Nuevo Peso:</h1>

    {% include "sheep_card.html" %}

    <form method="post">
        {% csrf_token %}

        <div class="col-sm-12 col-xs-12 weather-container ">

            <div class="col-sm-6 col-xs-12 measure-date">
                <img src="{% static 'img/calendar.png' %}"> <br>
                <label for="id_temperature">Fecha:</label> <br>
                <input type="date" name="date_weight" value='{% now "Y-m-d" %}' required id="id_date">
            </div>

            <div class="col-sm-6 col-xs-12 measure-weight">
                <img src="{% static 'img/balanza.png' %}"> <br>
                <label for="id_humidity">[kg] Peso:</label> <br>
                <input type="number" name="weight" step="0.1"  min="0" max="200" placeholder="{{ sheep.last_weight  }}" required id="id_weight">
            </div>

            <div class="col-sm-6 col-xs-12 measure-famacha">
                <img src="{% static 'img/famacha.png' %}"> <br>
                <label for="id_famacha">[1-5] Famacha:</label> <br>
                <input type="number" name="date_famacha" step="1"  min="1" max="5" value=""  required id="id_famacha">
            </div>

            <div class="col-sm-6 col-xs-12 measure-condicion-corporal">
                <img src="{% static 'img/metro.png' %}"> <br>
                <label for="id_condicion_corportal">[1.0-5.0] Condición corporal:</label> <br>
                <input type="number" name="date_corporal" step="0.1"  min="1" max="5" value="" required id="id_condicion_corportal">
            </div>
            {% if sheep.gender == 'M' %}
                <div class="col-sm-6 col-xs-12 measure-evaluation-reproductive">
                    <img src="{% static 'img/testiculo.png' %}"> <br>
                    <label for="id_famacha">testiculos:</label> <br>
                    <input type="text" name="evaluation-reproductive" required id="id_evaluation-reproductive">

                </div>
            {% else %}
                <div class="col-sm-6 col-xs-12 measure-evaluation-reproductive">
                    <img src="{% static 'img/ubre.png' %}"> <br>
                    <label for="id_famacha">ubre:</label> <br>
                    <input type="text" name="evaluation-reproductive" required id="id_evaluation-reproductive">
                </div>
            {% endif %}

            <div class="col-sm-6 col-xs-12 measure-observaciones">
                <img src="{% static 'img/observacion.png' %}"> <br>
                <label for="id_observacion">Observaciones:</label> <br>
                <input type="text" name="observacion"  required id="id_observacion">
            </div>
        </div>

            <a href="{% url 'app:weather-today' %}" class="btn btn-success ">
                <img src="{% static 'img/jeringuilla.png' %}">
                Medicina
            </a>

        <input type="submit" value="Guardar" class="btn btn-primary measure-button-add">
        <a href="{% url 'app:weather-today' %}" class="btn btn-secondary measure-button-cancel"> Cancelar</a>

    </form>

    {% endblock %}

