{% extends "base.html" %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block script %}
	<script src='https://cdn.plot.ly/plotly-2.1.0.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'> </script>

    <script>

        var aprisco_dates = [
            {% for weight in sheep.historyweight_set.all %}
              "{{ weight.create_at|date:'Y-m-d' }}",
            {% endfor %}
          ]

        var aprisco_data = [
            {% for weight in sheep.historyweight_set.all %}
              '{{ weight.weight }}',
            {% endfor %}
        ]

        var trace1 = {
          type: "scatter",
          mode: "lines",
          name: 'Peso',
          x: aprisco_dates,
          y: aprisco_data,
          line: {color: '#17BECF'}
        }


        var hdata = [trace1];

        var hlayout = {
          title: 'Historico Pesos',
        };

        Plotly.newPlot('HistoricoPesos', data=hdata, layout=hlayout);

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>
{% endblock %}


{% block content %}
    {% include "sheep_card.html" %}

    <h1> Nuevo Peso:</h1>
    <form method="post">
        {% csrf_token %}

        <div class="col-sm-12 col-xs-12 weather-container ">

            <div class="col-sm-6 col-xs-12 measure-temperature">
                <img src="{% static 'img/temperatura.png' %}"> <br>
                <label for="id_temperature">Fecha:</label> <br>
                <input type="date" name="date_weight" value='{% now "Y-m-d" %}' required id="id_date">
            </div>

            <div class="col-sm-6 col-xs-12 measure-humidity">
                <img src="{% static 'img/humedad.png' %}"> <br>
                <label for="id_humidity">[Kg] Peso:</label> <br>
                <input type="number" name="weight" step="0.01"  min="0" max="200" value="{{ sheep.weight  }}" required id="id_weight">
            </div>

        </div>


        <input type="submit" value="Guardar" class="btn btn-primary measure-button-add">
        <a href="{% url 'app:weather-today' %}" class="btn btn-secondary measure-button-cancel"> Cancelar</a>

    </form>

    {% endblock %}

