
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ sheep.prncipal_photo.upload.url }}" alt="{{ sheep.full_name }}">
    <div class="card-body">
      <h5 class="card-title">{{ sheep.full_name }}</h5>
      <p class="card-text">{{ sheep.age }}</p>

      <p class="card-text">
        {% if sheep.gender == 'M'%}
            <i class="fa fa-mars"></i>
        {% else %}
            <i class="fa fa-venus"></i>
        {% endif %}

        {{ sheep.breeds  }}
      </p>
      <a href="{% url 'app:detail' sheep.id %}" class="btn btn-primary">Ver</a>
    </div>
  </div>