
  {% load static %}

  <div class="card col-sm-12 col-md-6 col-lg-4 ml-md-auto mb-3 ">
    <div class="row ">

      <div class="col-12 text-center card-header">
        <h5 class="card-title">
          <a href="{% url 'app:detail' sheep.id %}" >
            {{ sheep.full_name }}
          </a>

          <span class="card-buttons float-right">
            <a href="{% url 'app:detail' sheep.id %}" >
              <img class="icon_card" src="{% static 'img/ojo.png' %}">    
            </a>

            <a href="{% url 'admin:myapp_sheep_change' sheep.id %}" >
              <img class="icon_card" src="{% static 'img/escritura.png' %}">  
            </a>
        </span>

        </h5>
      </div>

      <div class="col-10 offset-1">
        <br>
        {% if sheep.breed and not sheep.breeds == 'None' %}
          <div class="progress">

          {% for breed in sheep.breeds  %}
              <div class="progress-bar  {{ breed.breed.color }}" style="width:{{breed.percent}}%">
                  {{breed.breed.acronym}}
              </div>
          {% endfor %}
          </div>
        {% else %}
            <div class="progress">
                <div class="progress-bar brown" style="width:100%">
                    MZ
                </div>
            </div>
        {% endif %}
      </div>

      <div class=" col-12">
        <a href="{% url 'app:detail' sheep.id %}" title="">
          {% if sheep.prncipal_photo %}
            <img class="card-img-top" class="img-thumbnail" src="{{ sheep.prncipal_photo.upload.url }}" alt="{{ sheep.full_name }}">
          {% else %}
          <img class="card-img-top" class="img-thumbnail" src="{% static 'img/sheep_default.jpg' %}"  alt="{{ sheep.full_name }}">
          {% endif %}
        </a>
      </div>
      <div class="col-12 text-center">
        <div class="card-body">
          <p class="card-text">

            <div class='sheep-weight'>
              {{ sheep.weight  }}
            </div>
            {% if sheep.breed_name %}
              {{ sheep.breed_name  }}
            {% else %}
              MEZTIZO
            {% endif %}
          </p>
          <p class="card-text"><small class="text-muted">
            {% if sheep.gender == 'M'%}
            <img class= "icon_gender" src="{% static 'img/genero_masculino.png' %}">
            {% else %}
            <img class= "icon_gender" src="{% static 'img/genero_femenino.png' %}">
            {% endif %}
            {{ sheep.age }}</small></p>
        </div>
      </div>
    </div>
  </div>