{% extends "base.html" %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="jumbotron text-center">
  <h1>Temperatura y Humedad</h1>
  <p>medida de temperatura y humedad en diferentes sitios</p>
    <a class="nav-link" href="{% url 'app:weather-history' %}">Ver Historico</a>
</div>

<div class="container">
  <div class="row">
      {% for weather_today in weathers_today %}
        <div class="col-sm-4 col-xs-12 weather-container ">
            <h3><img src="{% static weather_today.image_location %}"> {{ weather_today.location }}</h3>

                    <div class="col-sm-12 col-xs-6 measure-temperature">
                        <h4>
                            <img src="{% static 'img/temperatura.png' %}"> Temperatura: <br>
                        </h4>
                        <p>
                            {% if  weather_today.temperature  %}
                                {{ weather_today.temperature }} °C
                            {% else %}
                                N/A
                            {% endif %}
                        </p>

                    </div>

                    <div class="col-sm-12 col-xs-6 measure-humidity">
                        <h4>
                            <img src="{% static 'img/humedad.png' %}"> Humedad: <br>
                        </h4>
                        <p>
                            {% if  weather_today.humidity  %}
                                {{ weather_today.humidity }} %
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                    </div>
                    {% if not weather_today.humidity or not weather_today.temperature   %}
                        <a href="{% url 'app:weather-add' %}" class="btn btn-primary measure-button-add"> Agregar Temperatura y Humedad</a>
                    {% else %}
                         {{ weather_today.create_at }}
                    {% endif %}
        </div>
      {% endfor %}
  </div>
</div>

{% endblock %}

